<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.reclipse.structure.specification.ui.editor.PSCatalogEditorPage?after=additions">
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddAttributeConstraint"
               label="Add Attribute Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                <or>
                <and>
                     <instanceof
                           value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                     </instanceof>
               <test
                     property="org.reclipse.structure.ObjectHasAttributes">
               </test>
               </and>
               </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddFuzzyConstraint"
               label="Add Fuzzy Metric Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddFuzzySetConstraint"
               label="Add Fuzzy Set Size Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.NodeIsSet">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSCombinedFragmentEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.FragmentCanHaveConstraint">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSAnnotationEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.NodeIsSet">
                           </test>
                           <not>
                              <test
                                    property="org.reclipse.structure.AnnotationIsCreate">
                              </test>
                           </not>
                        </and>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddMetricConstraint"
               label="Add Metric Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.MetricsInstalled">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddSetRatingFunction"
               label="Add Set Rating Function"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.NodeIsSet">
                           </test>
                           <not>
                              <test
                                    property="org.reclipse.structure.NodeHasSetRating">
                              </test>
                           </not>
                        </and>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSAnnotationEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.NodeIsSet">
                           </test>
                           <not>
                              <test
                                    property="org.reclipse.structure.AnnotationIsCreate">
                              </test>
                           </not>
                           <not>
                              <test
                                    property="org.reclipse.structure.NodeHasSetRating">
                              </test>
                           </not>
                        </and>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.AddSetSizeConstraint"
               label="Add Set Size Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSObjectEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.SizeMetricInstalled">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSCombinedFragmentEditPart">
                           </instanceof>
                           <test
                                 property="org.reclipse.structure.FragmentCanHaveConstraint">
                           </test>
                           <test
                                 property="org.reclipse.structure.SizeMetricInstalled">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.reclipse.structure.specification.ui.edit.parts.PSAnnotationEditPart">
                           </instanceof>
                           <not>
                              <test
                                    property="org.reclipse.structure.AnnotationIsCreate">
                              </test>
                           </not>
                           <test
                                 property="org.reclipse.structure.SizeMetricInstalled">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.EditFuzzyConstraint"
               label="Edit Fuzzy Constraint"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.reclipse.structure.specification.ui.edit.parts.PSFuzzyConstraintEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.OpenPatternSpecification"
               label="Open related Pattern Specification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.reclipse.structure.specification.ui.edit.parts.PSAnnotationEditPart">
                        </instanceof>
                        <not>
                           <test
                                 property="org.reclipse.structure.AnnotationIsCreate">
                           </test>
                        </not>
                        <test
                              property="org.reclipse.structure.AnnotationHasType">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.ResizeToPreferredSize"
               label="Resize Elements to Preferred Size"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.reclipse.structure.specification.ui.edit.parts.PSPatternSpecificationEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.reclipse.structure.specification.ui.commands.ResizeToMinimumSize"
               label="Resize Elements to Minimum Size"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="org.reclipse.structure.specification.ui.edit.parts.PSPatternSpecificationEditPart">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.reclipse.structure"
            name="Reclipse Structure Specification">
      </category>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.ResizeHandler"
            id="org.reclipse.structure.specification.ui.commands.ResizeToPreferredSize"
            name="Resize Elements to Preferred Size">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.ResizeHandler"
            id="org.reclipse.structure.specification.ui.commands.ResizeToMinimumSize"
            name="Resize Elements to Minimum Size">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.OpenPatternSpecificationHandler"
            id="org.reclipse.structure.specification.ui.commands.OpenPatternSpecification"
            name="Open related pattern specification">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddAttributeConstraint"
            name="Add attribute constraint">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddMetricConstraint"
            name="Add metric constraint">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddSetSizeConstraint"
            name="Add set size constraint">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddFuzzyConstraint"
            name="Add fuzzy constraint">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddFuzzySetConstraint"
            name="Add fuzzy set size constraint">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.AddSetRatingFunction"
            name="Add set rating function">
      </command>
      <command
            categoryId="org.reclipse.structure"
            defaultHandler="org.reclipse.structure.specification.ui.handlers.PSConstraintHandler"
            id="org.reclipse.structure.specification.ui.commands.EditFuzzyConstraint"
            name="Edit Fuzzy Constraint">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.reclipse.structure.specification.ui.commands.ResizeToPreferredSize"
            icon="icons/commands/resize_to_preferred_size.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.ResizeToMinimumSize"
            icon="icons/commands/resize_to_minimum_size.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.OpenPatternSpecification"
            icon="icons/commands/open_pattern_specification.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddFuzzyConstraint"
            icon="icons/commands/add_fuzzy_constraint.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddFuzzySetConstraint"
            icon="icons/commands/add_fuzzy_constraint.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.EditFuzzyConstraint"
            icon="icons/commands/edit_fuzzy_constraint.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddSetRatingFunction"
            icon="icons/commands/add_fuzzy_constraint.png">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddMetricConstraint"
            icon="icons/full/obj16/PSMetricConstraint.gif">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddSetSizeConstraint"
            icon="icons/full/obj16/PSMetricConstraint.gif">
      </image>
      <image
            commandId="org.reclipse.structure.specification.ui.commands.AddAttributeConstraint"
            icon="icons/full/obj16/PSAttributeConstraint.gif">
      </image>
   </extension>
 
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.reclipse.structure.specification.ui.editor.MultiPagePSCatalogEditor"
            contributorClass="org.fujaba.commons.editor.CommonMultiPageEditorActionBarContributor"
            default="true"
            extensions="pscdiagram"
            icon="icons/full/obj16/PSPatternSpecification.gif"
            id="org.reclipse.structure.specification.ui.PSCatalogEditor"
            name="Pattern Specification Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.reclipse.ui.newWizards"
            name="Reclipse">
      </category>
      <wizard
            category="org.reclipse.ui.newWizards"
            class="org.reclipse.structure.specification.ui.wizards.NewPSCatalogWizard"
            hasPages="true"
            icon="icons/full/obj16/PSPatternSpecification.gif"
            id="org.reclipse.structure.specification.diagram.wizards.NewPSCatalogWizard"
            name="Pattern Specification Catalog">
         <description>
            Use this wizard to create a new pattern specification catalog.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.fujaba.commons.palettes">
      <palette
            editor="org.reclipse.structure.specification.ui.editor.PSCatalogEditorPage"
            id="org.reclipse.structure.specification.ui.palette">
         <containerRef
               containerID="org.reclipse.structure.specification.ui.nodePaletteContainer">
         </containerRef>
         <containerRef
               containerID="org.reclipse.structure.specification.ui.connectionPaletteContainer"
               prevContainerIDs="org.reclipse.structure.specification.ui.nodePaletteContainer">
         </containerRef>
      </palette>
   </extension>
   <extension
         point="org.fujaba.commons.paletteContainer">
      <paletteContainer
            icon="icons/etool/nodes.png"
            id="org.reclipse.structure.specification.ui.nodePaletteContainer"
            label="Nodes">
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSAnnotation"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSAdditionalFragment"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSAnnotation">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSNegativeFragment"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSAdditionalFragment">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSSetFragment"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSNegativeFragment">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSSpecificationConstraint"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSSetFragment">
         </entryRef>
      </paletteContainer>
      <paletteContainer
            icon="icons/etool/edges.png"
            id="org.reclipse.structure.specification.ui.connectionPaletteContainer"
            label="Connections">
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSLink">
         </entryRef>
         <entryRef
               entryID="org.reclipse.structure.specification.ui.paletteEntryPSPath"
               prevEntryIDs="org.reclipse.structure.specification.ui.paletteEntryPSLink">
         </entryRef>
      </paletteContainer>
   </extension>
   <extension
         point="org.fujaba.commons.paletteEntries">
      <paletteEntry
            icon16="icons/full/obj16/PSObject.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSObject"
            label="Object"
            product="org.reclipse.structure.specification.impl.PSObjectImpl"
            tooltip="Create a new pattern object."
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/full/obj16/PSLink.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSLink"
            label="Link"
            product="org.reclipse.structure.specification.impl.PSLinkImpl"
            tooltip="Create a new pattern link."
            type="connection">
      </paletteEntry>
      <paletteEntry
            icon16="icons/full/obj16/PSPath.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSPath"
            label="Path"
            product="org.reclipse.structure.specification.impl.PSPathImpl"
            tooltip="Create a new pattern path."
            type="connection">
      </paletteEntry>
      <paletteEntry
            icon16="icons/full/obj16/PSAnnotation.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSAnnotation"
            label="Annotation"
            product="org.reclipse.structure.specification.impl.PSAnnotationImpl"
            tooltip="Create a new pattern annotation."
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/full/obj16/PSSpecificationConstraint.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSSpecificationConstraint"
            label="Constraint"
            product="org.reclipse.structure.specification.impl.PSSpecificationConstraintImpl"
            tooltip="Create a new pattern constraint."
            type="element">
      </paletteEntry>
      <paletteEntry
            factory="org.reclipse.structure.specification.ui.palette.PSPaletteEntryFactory"
            icon16="icons/full/obj16/PSCombinedFragment.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSAdditionalFragment"
            label="Additional Fragment"
            product="org.reclipse.structure.specification.impl.PSCombinedFragmentImpl"
            tooltip="Create a new Additional Fragment."
            type="element">
      </paletteEntry>
      <paletteEntry
            factory="org.reclipse.structure.specification.ui.palette.PSPaletteEntryFactory"
            icon16="icons/full/obj16/PSCombinedFragment.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSNegativeFragment"
            label="Negative Fragment"
            product="org.reclipse.structure.specification.impl.PSCombinedFragmentImpl"
            tooltip="Create a new Negative Fragment."
            type="element">
      </paletteEntry>
      <paletteEntry
            factory="org.reclipse.structure.specification.ui.palette.PSPaletteEntryFactory"
            icon16="icons/full/obj16/PSCombinedFragment.gif"
            id="org.reclipse.structure.specification.ui.paletteEntryPSSetFragment"
            label="Set Fragment"
            product="org.reclipse.structure.specification.impl.PSCombinedFragmentImpl"
            tooltip="Create a new Set Fragment."
            type="element">
      </paletteEntry>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.reclipse.structure.specification.ui.PSCatalogPropertyTester"
            id="org.reclipse.structure.PropertyTester"
            namespace="org.reclipse.structure"
            properties="AnnotationIsCreate,NodeIsSet,AnnotationHasType,FragmentCanHaveConstraint,NodeHasSetRating,ObjectHasAttributes,MetricsInstalled,SizeMetricInstalled"
            type="org.fujaba.commons.edit.parts.AbstractNodeEditPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.reclipse.category"
            name="Reclipse">
      </category>
   </extension>
      <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.reclipse.structure.specification.ui.property.contributor"
            labelProvider="org.reclipse.structure.specification.ui.properties.PSTabbedPropertiesLabelProvider">
         <propertyCategory
               category="model">
         </propertyCategory>
         <propertyCategory
               category="advanced"></propertyCategory>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.reclipse.structure.specification.ui.property.contributor">
         <propertyTab
               category="model"
               id="org.reclipse.structure.specification.properties.tab.model"
               label="Model">
         </propertyTab>
         <propertyTab
               afterTab="org.reclipse.structure.specification.properties.tab.model"
               category="advanced"
               id="org.reclipse.structure.specification.properties.tab.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.reclipse.structure.specification.ui.property.contributor">
         <propertySection
               class="org.fujaba.commons.properties.section.AdvancedSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$IdentifierFilter"
               id="section.advanced"
               tab="org.reclipse.structure.specification.properties.tab.advanced">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSPatternNameSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSPatternSpecificationFilter"
               id="section.pattern.name"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.pattern.name"
               class="org.reclipse.structure.specification.ui.properties.sections.PSPatternParentSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSPatternSpecificationFilter"
               id="section.pattern.parent"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.pattern.parent"
               class="org.reclipse.structure.specification.ui.properties.sections.PSPatternTypeSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSPatternSpecificationFilter"
               id="section.pattern.type"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.pattern.type"
               class="org.reclipse.structure.specification.ui.properties.sections.PSPatternAbstractSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSPatternSpecificationFilter"
               id="section.pattern.abstract"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSObjectTypeSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSObjectFilter"
               id="section.object.type"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.object.type"
               class="org.reclipse.structure.specification.ui.properties.sections.PSObjectNameSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSObjectFilter"
               id="section.object.name"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.object.name"
               class="org.reclipse.structure.specification.ui.properties.sections.PSNodeModifierSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSObjectFilter"
               id="section.object.modifier"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.object.modifier"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSObjectFilter"
               id="section.object.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSAnnotationNameSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAnnotationReferencingFilter"
               id="section.annotation.name"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.annotation.name"
               class="org.reclipse.structure.specification.ui.properties.sections.PSAnnotationTypeSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAnnotationReferencingFilter"
               id="section.annotation.type"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.annotation.type"
               class="org.reclipse.structure.specification.ui.properties.sections.PSNodeModifierSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAnnotationReferencingFilter"
               id="section.annotation.modifier"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.annotation.weight"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAnnotationFilter"
               id="section.annotation.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSSpecificationConstraintNameSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSSpecificationConstraintFilter"
               id="section.constraint.name"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.name"
               class="org.reclipse.structure.specification.ui.properties.sections.PSSpecificationConstraintExpressionSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSSpecificationConstraintFilter"
               id="section.constraint.expression"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.expression"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSSpecificationConstraintFilter"
               id="section.constraint.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.weight"
               class="org.reclipse.structure.specification.ui.properties.sections.PSSpecificationConstraintAdditionalSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSSpecificationConstraintFilter"
               id="section.constraint.additional"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSLinkQualifierSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSLinkQualifierFilter"
               id="section.link.qualifier"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.link.qualifier"
               class="org.reclipse.structure.specification.ui.properties.sections.PSLinkTypeSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSLinkTypeFilter"
               id="section.link.type"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.link.type"
               class="org.reclipse.structure.specification.ui.properties.sections.PSLinkModifierSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSLinkModifierFilter"
               id="section.link.modifier"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSPathTabooSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSPathFilter"
               id="section.path.taboo"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.fragment.set.constraint"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSCombinedFragmentFilter"
               id="section.fragment.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSMetricConstraintAcronymSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSMetricConstraintFilter"
               id="section.constraint.metric.acronym"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.metric.acronym"
               class="org.reclipse.structure.specification.ui.properties.sections.PSMetricConstraintOperatorSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSMetricConstraintFilter"
               id="section.constraint.metric.operator"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.metric.operator"
               class="org.reclipse.structure.specification.ui.properties.sections.PSMetricConstraintValueSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSMetricConstraintFilter"
               id="section.constraint.metric.value"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.metric.value"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSMetricConstraintFilter"
               id="section.constraint.metric.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.metric.weight"
               class="org.reclipse.structure.specification.ui.properties.sections.PSBooleanConstraintAdditionalSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSMetricConstraintFilter"
               id="section.constraint.metric.additional"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSAttributeConstraintExpressionSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.expression"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSAttributeConstraintAttributeSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.attribute"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.attribute.attribute"
               class="org.reclipse.structure.specification.ui.properties.sections.PSAttributeConstraintOperatorSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.operator"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.attribute.operator"
               class="org.reclipse.structure.specification.ui.properties.sections.PSAttributeConstraintValueSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.value"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.attribute.value"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.attribute.weight"
               class="org.reclipse.structure.specification.ui.properties.sections.PSBooleanConstraintAdditionalSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSAttributeConstraintFilter"
               id="section.constraint.attribute.additional"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               class="org.reclipse.structure.specification.ui.properties.sections.PSFuzzyMetricConstraintAcronymSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSFuzzyMetricConstraintFilter"
               id="section.constraint.fuzzy.metric.acronym"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
         <propertySection
               afterSection="section.constraint.fuzzy.metric.acronym"
               class="org.reclipse.structure.specification.ui.properties.sections.PSItemWeightSection"
               filter="org.reclipse.structure.specification.ui.properties.util.SectionFilters$PSFuzzyMetricConstraintFilter"
               id="section.constraint.fuzzy.metric.weight"
               tab="org.reclipse.structure.specification.properties.tab.model">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
