<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.reclipse.behavior.specification.ui.editor.MultiPageBPCatalogEditor"
            contributorClass="org.fujaba.commons.editor.CommonMultiPageEditorActionBarContributor"
            default="true"
            extensions="bp"
            icon="icons/behavioralPattern.png"
            id="org.reclipse.behavior.specification.ui.BPCatalogEditor"
            name="Behavioral Pattern Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.reclipse.New"
            name="Reclipse">
      </category>
      <category
            id="org.reclipse.behavior.New"
            name="Behavior"
            parentCategory="org.reclipse.New">
      </category>
      <wizard
            category="org.reclipse.New"
            class="org.reclipse.behavior.specification.ui.wizards.NewBPCatalogWizard"
            hasPages="true"
            icon="icons/behavioralPattern.png"
            id="org.reclipse.behavior.specification.wizards.NewBPCatalogWizard"
            name="New BPCatalog Wizard">
         <description>
            Use this wizard to create a new behavioral patterns catalog.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.fujaba.commons.palettes">
      <palette
            editor="org.reclipse.behavior.specification.ui.editor.BPCatalogEditorPage"
            id="org.reclipse.behavior.specification.ui.palette">
         <containerRef
               containerID="org.reclipse.behavior.specification.ui.paletteContainer">
         </containerRef>
      </palette>
   </extension>
   <extension
         point="org.fujaba.commons.paletteContainer">
      <paletteContainer
            id="org.reclipse.behavior.specification.ui.paletteContainer"
            label="elements">
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPObject"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPSetObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPAnyObject"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPMessage"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPSetObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPSetObject"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPAnyObject"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPMessage"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPAssignment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPAnyObject">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPAssignment"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryOptionalFragment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPMessage">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryBPEachFragment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryAlternativeFragment">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryOptionalFragment"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryLoopFragment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPAssignment">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryLoopFragment"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryAlternativeFragment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryOptionalFragment">
         </entryRef>
         <entryRef
               entryID="org.reclipse.behavior.specification.ui.paletteEntryAlternativeFragment"
               nextEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryBPEachFragment"
               prevEntryIDs="org.reclipse.behavior.specification.ui.paletteEntryLoopFragment">
         </entryRef>
      </paletteContainer>
   </extension>
   <extension
         point="org.fujaba.commons.paletteEntries">
      <paletteEntry
            icon16="icons/object16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPObject"
            label="Object"
            product="org.reclipse.behavior.specification.impl.BPObjectImpl"
            tooltip="Create an object."
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/object16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPAnyObject"
            label="AnyObject"
            product="org.reclipse.behavior.specification.impl.BPAnyObjectImpl"
            tooltip="Create an anyObject."
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/object16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPSetObject"
            label="SetObject"
            product="org.reclipse.behavior.specification.impl.BPSetObjectImpl"
            tooltip="Create a setObject."
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/message16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPMessage"
            label="Message"
            product="org.reclipse.behavior.specification.impl.BPMessageImpl"
            tooltip="Create a message."
            type="connection">
      </paletteEntry>
      <paletteEntry
            icon16="icons/assignment16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPAssignment"
            label="Assignment"
            product="org.reclipse.behavior.specification.impl.BPAssignmentImpl"
            tooltip="Create an assignment"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/combinedFragment16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryBPEachFragment"
            label="EachFragment"
            product="org.reclipse.behavior.specification.impl.BPEachFragmentImpl"
            tooltip="Create an each fragment"
            type="element">
      </paletteEntry>  
      <paletteEntry
            icon16="icons/combinedFragment16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryLoopFragment"
            label="LoopFragment"
            product="de.uni_paderborn.basicSequenceDiagram.impl.LoopFragmentImpl"
            tooltip="Create a loop fragment"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/combinedFragment16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryOptionalFragment"
            label="OptionalFragment"
            product="de.uni_paderborn.basicSequenceDiagram.impl.OptionalFragmentImpl"
            tooltip="Create an optional fragment"
            type="element">
      </paletteEntry>
      <paletteEntry
            icon16="icons/combinedFragment16.gif"
            id="org.reclipse.behavior.specification.ui.paletteEntryAlternativeFragment"
            label="AlternativeFragment"
            product="de.uni_paderborn.basicSequenceDiagram.impl.AlternativeFragmentImpl"
            tooltip="Create an alternative fragment"
            type="element">
      </paletteEntry>
   </extension>


<extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.reclipse.behavior.specification.ui.providers.BPCatalogTreeContentProvider"
            icon="icons/linkTargetNavigatorGroup.gif"
            id="org.reclipse.behavior.specification.ui.modelcontent"
            labelProvider="org.reclipse.behavior.specification.ui.providers.BPCatalogTreeLabelProvider"
            name="name"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.resource.Resource">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or></possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="bp">
            </test>
         </triggerPoints>
      </navigatorContent>
       <navigatorContent
            activeByDefault="true"
            contentProvider="org.reclipse.behavior.specification.ui.providers.BPCatalogTreeContentProvider"
            icon="icons/linkTargetNavigatorGroup.gif"
            id="org.reclipse.behavior.specification.ui.BPDiagramContent"
            labelProvider="org.reclipse.behavior.specification.ui.providers.BPCatalogTreeLabelProvider"
            name="pscdiagram"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.resource.Resource">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.extension"
                  value="pscdiagram">
            </test>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.reclipse.behavior.specification.ui.modelcontent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="org.reclipse.behavior.specification.ui.BPDiagramContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
