<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.reclipse.structure.specification.metamodel">
      <metamodel
            id="org.reclipse.kdm2pcm.sourcecodedecorator"
            name="sourcecodedecorator"
            trigger_chooser="org.reclipse.structure.specification.util.ContainmentWeightedTriggerChooser">
         <package
               uri="http://palladiosimulator.org/PalladioComponentModel/Repository/5.2">
         </package>
         <package
               uri="http://palladiosimulator.org/PalladioComponentModel/SEFF/5.2">
         </package>
         <package
               uri="http://palladiosimulator.org/PalladioComponentModel/Core/5.2">
         </package>
         <package
               uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java">
         </package>
         <package
               uri="http://somox.org/SourceCodeDecorator/2.0">
         </package>
      </metamodel>
   </extension>

</plugin>
