<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension-point id="metamodel" name="Reclipse Meta Model" schema="schema/metamodel.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.reclipse.org/ns/specification"
            class="org.reclipse.structure.specification.SpecificationPackage"
            genModel="design/specification.genmodel"/>
   </extension>

</plugin>
